//*****************************************************
//*   HOME PAGE
//*****************************************************
@use '../../scss/mixins';
@use '../../scss/variables';

.home-bgImg-container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../../../public/img/model-1.jpg");
    background-position: center;
    background-size: cover;   
}

.home{
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid variables.$text-color;
        width: 100%;
        &--last{
            color: red;
            font-weight: 700;
        }
    }
}