//*****************************************************
//*   Variables
//*****************************************************


//Color

$primary-color:#272727;
$secondary-color:#ff652f;
$text-color:#fff;


//font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path

$pathName1: "../../public/img/model-1.jpg";
$pathName2: "../../public/img/project-1.jpg";
$pathName3: "../../public/img/project-2.jpg";
$pathName4: "../../public/img/project-3.jpg";
$pathName5: "../../public/img/project-4.jpg";
$pathName6: "../../public/img/project-5.jpg";